env-setup/
gpu-app-collection/
hw_run/
sim_run_*
*.DS_Store*
*.csv
*.csv#
4.2/
gpucomputingsdk_4.2.9_linux.run
util/job_launching/*.txt
gpu-simulator/gpgpu-sim
.vscode/*
extern
gpu-simulator/accel_sim.pyi
all.gpgpu-sim-app-data.tgz
gpu-app-collect 
gpu-simulator/CMakeCache.txt
gpu-simulator/CMakeFiles/
gpu-simulator/*.out
gpu-simulator/*.so
gpu-simulator/accelsim_version.h
gpu-simulator/*.cmake
gpu-simulator/detailed_version
gpu-simulator/install_manifest.txt
gpu-simulator/trace-driven/CMakeFiles/
gpu-simulator/trace-driven/cmake_install.cmake
gpu-simulator/trace-driven/libtrace-driven.a
gpu-simulator/trace-parser/CMakeFiles/
gpu-simulator/trace-parser/cmake_install.cmake
gpu-simulator/trace-parser/libtrace-parser.a
*.log
gpu-simulator/gpgpu-sim 
gpu-simulator/**/Makefile

